/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*???*/
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: "Jura", sans-serif;
}

html {
    font-size: 62.5%;
}
/* Mouse Circle */
/* End of Mouse Circle */

.page-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(images/bg.jpg) center no-repeat;
    background-size: cover;
}
/* End of Common Styles */